/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;}